{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Tech Store</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'store/css/store.css' %}">
	<link rel="stylesheet" href="{% static 'store/css/products.css' %}">
	<link rel="stylesheet" href="{% static 'store/css/search.css' %}">
	<link rel="stylesheet" href="{% static 'store/css/cart.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link rel="icon" href="/media/icone.png" type="image/x-icon">
	<link rel="shortcut icon" href="{% static 'store/imagens/favicon.png' %}" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="visible-desktop">
		<div class="page-header">
			<div class="container-fluid">

				<form id="signin" class="navbar-form navbar-top-right" role="form" method='POST' action="{% url 'store.views.Login' %}">{% csrf_token %}
					<div class="input-group">
						<a href="/"><img src="{% static 'store/imagens/techStore-sem-imagem-branco.png' %}"
							width="60%" height="60%" /></a>
						</div>
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input id="username" type="text" class="form-control" name="username" value="" placeholder="Username">                                        
						</div>

						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">                                        
						</div>
						<button type="submit" class="btn btn-primary btn-sm btn3d">Login</button>
						<div class="input-group">
							<p align="right"><a href="/reset_password/"><font color=#f2f2f2><small>ESQUECEU SUA SENHA?</small></font></a></p>                                       
						</div>
					</form>
					<form class="search-form" method="get" action="{% url 'store.views.Search' %}">
						<div class="form-group has-feedback">
							<label for="search" class="sr-only">Search</label>
							<input type="text" class="form-control" name="search" id="search" placeholder="search">
							<span class="glyphicon glyphicon-search form-control-feedback"></span>
						</div>
					</form>

				</div>

			</div>
			<div id="wrapper">
				<div class="cart-icon-top">
				</div>

				<div class="cart-icon-bottom">
				</div>
				<div id="header">	
					<ul>
						<li><a href="{% url 'store.views.Home' %}">HOME</a></li>
						<li><a href="{% url 'store.views.Sobre' %}">SOBRE</a></li>
						<li><a href="{% url 'store.views.Suporte' %}">SUPORTE</a></li>                                   
					</ul>		
				</div>
				<div id="sidebar">
					<h3>CATEGORIAS</h3>
					<div class="checklist categories">
						<ul>
							<li><a href="{% url 'store.views.Categories' categoria='cameras' %}"><span></span>Câmeras Digitais</a></li>
							<li><a href="{% url 'store.views.Categories' categoria='desktop' %}"><span></span>Desktop</a></li>
							<li><a href="{% url 'store.views.Categories' categoria='hardware' %}"><span></span>Hardware</a></li>
							<li><a href="{% url 'store.views.Categories' categoria='impressora' %}"><span></span>Impressora</a></li>
							<li><a href="{% url 'store.views.Categories' categoria='notebook' %}"><span></span>Notebook</a></li>
							<li><a href="{% url 'store.views.Categories' categoria='perifericos' %}"><span></span>Periféricos</a></li>
							<li><a href="{% url 'store.views.Categories' categoria='redes' %}"><span></span>Redes</a></li>
							<li><a href="{% url 'store.views.Categories' categoria='smartphone' %}"><span></span>Smartphone</a></li>
							<li><a href="{% url 'store.views.Categories' categoria='software' %}"><span></span>Software</a></li>
							<li><a href="{% url 'store.views.Categories' categoria='tablet' %}"><span></span>Tablet</a></li>
							<li><a href="{% url 'store.views.Categories' categoria='televisao' %}"><span></span>Televisão</a></li>
						</ul>
					</div>
				</div>
				<div class="container-fluid">
					{% for post in posts %}
					{% if post.qntd_produto > 0 %}
					<div class="col-md-2">
						<div class="productbox">
							<img src="/media/{{post.imagem_produto}}" class="img-responsive" title={{ post.nome_produto }}/>
							<div class="producttitle">
								<a href="{% url 'store.views.Product' pk=post.pk %}"><p>{{ post.nome_produto }}</p></a>
							</div>
							<div class="productprice">
								<div class="pull-right">
									<a href="/home/" class="btn btn-primary  btn-sm btn3d" role="button">Adicionar <span class="glyphicon glyphicon-shopping-cart"></span></a>
								</div>
								<div class="pricetext"> <p> R$ {{ post.preco_produto }} </p> </div>
							</div>
						</div>
					</div>
					{% else %}
					<div class="col-md-2">
						<div class="productbox2">
							<div class="offer offer-radius offer-danger">
								<div class="shape">
									<div class="shape-text">
										Sem estoque					
									</div>
								</div>
								<div class="offer-content">
									<img src="/media/{{post.imagem_produto}}" class="img-responsive" title={{ post.nome_produto }}/>
								</div>
							</div>
							<div class="producttitle">
								<a href="{% url 'store.views.Product' pk=post.pk %}"><p>{{ post.nome_produto }}</p></a>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}

				</div>
			</div>
			<nav align = "center">
				<ul class="pagination">

					{% if posts.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Anterior</span>
						</a>
					</li>
					{% else %}
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Anterior</span>
						</a>
					</li>
					{% endif %}
					{% for x in paginas %}
					<li class="page-item"><a class="page-link" href="?page={{ x }}">{{x}}</a></li>
					{% endfor %} 

					{% if posts.has_next %}
					<li class="page-item">
						<a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Próximo</span>
						</a>
					</li>
					{% else %}
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Próximo</span>
						</a>
					</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</body>

	</html>
