{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Tech Store</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'store/css/store.css' %}">
	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="icon" href="/media/icone.png" type="image/x-icon">
	<link rel="shortcut icon" href="{% static 'store/imagens/favicon.png' %}" type="image/x-icon">
</head>

<body>
	{% block content %}
	<style>
		form {
			width: 40%;
			margin: 100px auto;
		}
		.centered {
			text-align: center;
			width: 100%;
		}
		ul.errorlist {
			list-style-type: none;
		}
	</style>	
	<form method="post" action=".?next={{ redirect_to }}" class="panel panel-default">{% csrf_token %}
		<fieldset class="panel-body">
			<div class="centered">
				<img src="{% static 'store/imagens/techStore-sem-imagem.png' %}" width="25%" height="25%" />
			</div>
			<div class="form-group">
				<label for="email" class="cols-sm-2 control-label">Your Email</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
					</div>
					<small class="text-muted">To reset your password, submit your email address</small>
				</div>
			</div>

			<div class="form-group ">
				<button type="button" class="btn btn-primary btn-lg btn-block login-button">Reset password</button>
			</div>
			<div class="login-register">
			<a href="/">Login</a>
			</div>
		</fieldset>
	</form>
	{% endblock %}
</body>

</html>
